<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Board</title>
</head>
<body>
    <style>
        h1 {
            text-align: center;
            font-size: 30px;
        }

        button {
            width: 200px;
            height: 40px;
            font-size: 15px;
            background-color: rgb(58, 121, 58);
            border-radius: 8px;
            cursor: pointer;
        }

        .center {
            text-align: center;
        }
    </style>
    <h1>Add a New Board to the Database</h1>
    <br><br>
    <h2 class="center">Board</h2>
    <form action="result" method="post">
        <div id="r0" class="center">
            <input type="number" min="1" max="9" name="r0c0">
            <input type="number" min="1" max="9" name="r0c1">
            <input type="number" min="1" max="9" name="r0c2">
            <input type="number" min="1" max="9" name="r0c3">
            <input type="number" min="1" max="9" name="r0c4">
            <input type="number" min="1" max="9" name="r0c5">
            <input type="number" min="1" max="9" name="r0c6">
            <input type="number" min="1" max="9" name="r0c7">
            <input type="number" min="1" max="9" name="r0c8">
        </div>
        <div id="r1" class="center">
            <input type="number" min="1" max="9" name="r1c0">
            <input type="number" min="1" max="9" name="r1c1">
            <input type="number" min="1" max="9" name="r1c2">
            <input type="number" min="1" max="9" name="r1c3">
            <input type="number" min="1" max="9" name="r1c4">
            <input type="number" min="1" max="9" name="r1c5">
            <input type="number" min="1" max="9" name="r1c6">
            <input type="number" min="1" max="9" name="r1c7">
            <input type="number" min="1" max="9" name="r1c8">
        </div>
        <div id="r2" class="center">
            <input type="number" min="1" max="9" name="r2c0">
            <input type="number" min="1" max="9" name="r2c1">
            <input type="number" min="1" max="9" name="r2c2">
            <input type="number" min="1" max="9" name="r2c3">
            <input type="number" min="1" max="9" name="r2c4">
            <input type="number" min="1" max="9" name="r2c5">
            <input type="number" min="1" max="9" name="r2c6">
            <input type="number" min="1" max="9" name="r2c7">
            <input type="number" min="1" max="9" name="r2c8">
        </div>
        <div id="r3" class="center">
            <input type="number" min="1" max="9" name="r3c0">
            <input type="number" min="1" max="9" name="r3c1">
            <input type="number" min="1" max="9" name="r3c2">
            <input type="number" min="1" max="9" name="r3c3">
            <input type="number" min="1" max="9" name="r3c4">
            <input type="number" min="1" max="9" name="r3c5">
            <input type="number" min="1" max="9" name="r3c6">
            <input type="number" min="1" max="9" name="r3c7">
            <input type="number" min="1" max="9" name="r3c8">
        </div>
        <div id="r4" class="center">
            <input type="number" min="1" max="9" name="r4c0">
            <input type="number" min="1" max="9" name="r4c1">
            <input type="number" min="1" max="9" name="r4c2">
            <input type="number" min="1" max="9" name="r4c3">
            <input type="number" min="1" max="9" name="r4c4">
            <input type="number" min="1" max="9" name="r4c5">
            <input type="number" min="1" max="9" name="r4c6">
            <input type="number" min="1" max="9" name="r4c7">
            <input type="number" min="1" max="9" name="r4c8">
        </div>
        <div id="r5" class="center">
            <input type="number" min="1" max="9" name="r5c0">
            <input type="number" min="1" max="9" name="r5c1">
            <input type="number" min="1" max="9" name="r5c2">
            <input type="number" min="1" max="9" name="r5c3">
            <input type="number" min="1" max="9" name="r5c4">
            <input type="number" min="1" max="9" name="r5c5">
            <input type="number" min="1" max="9" name="r5c6">
            <input type="number" min="1" max="9" name="r5c7">
            <input type="number" min="1" max="9" name="r5c8">
        </div>
        <div id="r6" class="center">
            <input type="number" min="1" max="9" name="r6c0">
            <input type="number" min="1" max="9" name="r6c1">
            <input type="number" min="1" max="9" name="r6c2">
            <input type="number" min="1" max="9" name="r6c3">
            <input type="number" min="1" max="9" name="r6c4">
            <input type="number" min="1" max="9" name="r6c5">
            <input type="number" min="1" max="9" name="r6c6">
            <input type="number" min="1" max="9" name="r6c7">
            <input type="number" min="1" max="9" name="r6c8">
        </div>
        <div id="r7" class="center">
            <input type="number" min="1" max="9" name="r7c0">
            <input type="number" min="1" max="9" name="r7c1">
            <input type="number" min="1" max="9" name="r7c2">
            <input type="number" min="1" max="9" name="r7c3">
            <input type="number" min="1" max="9" name="r7c4">
            <input type="number" min="1" max="9" name="r7c5">
            <input type="number" min="1" max="9" name="r7c6">
            <input type="number" min="1" max="9" name="r7c7">
            <input type="number" min="1" max="9" name="r7c8">
        </div>
        <div id="r8" class="center">
            <input type="number" min="1" max="9" name="r8c0">
            <input type="number" min="1" max="9" name="r8c1">
            <input type="number" min="1" max="9" name="r8c2">
            <input type="number" min="1" max="9" name="r8c3">
            <input type="number" min="1" max="9" name="r8c4">
            <input type="number" min="1" max="9" name="r8c5">
            <input type="number" min="1" max="9" name="r8c6">
            <input type="number" min="1" max="9" name="r8c7">
            <input type="number" min="1" max="9" name="r8c8">
        </div>
        <div class="center">
            <h2>Password</h2>
            <input type="password" name="password">
        </div>
        <br><br>
        <div class="center"><button type="submit"><strong>Add to Database</strong></button></div>
    </form>
</body>
</html>