<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Board Generator</title>
</head>
<body>
    <style>
        button {
            font-size: 30px;
            margin-top: 50px;
        }
    </style>

    <h1 style="text-align: center;">Sudoku Board Generator</h1>
    <div style="text-align: center;">
        <a href="/board"><button>Generate Board</button></a>
    </div>
</body>
</html>